@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('../font/embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

.btn span,
.btnCount span,
.btnW span,
.btnS span {
  cursor: pointer;
  background: #ccc;
  width: 100px;
  height: 100px;
  display: block;
  text-align: center;
  line-height: 100px;
  margin: 20px;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 0;
  transition: 1s;
}

.btnS span {
  right: 240px;
  background: #86c3e8;
  color: #fff;
}
.btnW span {
  right: 120px;
  background: #86c3e8;
  color: #fff;
}

.btnCount span {
  right: 360px;
  background: #86c3e8;
  color: #fff;
}

.Name {
  font-size: 14px;
  line-height: 25px;
  color: #ccc;
}

.btn span:hover,.btnW span:hover {
  background: red;
  color: #fff;
}

.btnCount span:hover,
.btnS span:hover {
  background: rgb(15, 15, 15);
  color: #fff;
}

span#date {
  padding-left: 8px;
}

.editElementClick {
  border: 2px solid #95d0f3;
}

.editElement {
  color: #000;
}

/* 添加按钮 */
div#addContent {
    position: absolute;
    display: none;
    cursor: pointer;
}
div#addContent:hover {
    color: rgb(15, 153, 218);
    font-weight: 800;
}

/* 弹层 */
div#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 35px;
    display: none;
}

div.popupTitle {
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    background: #f7f5f5;
}
div.popupBack {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.23);
}

div.popupMain {
    top: 50%;
    left: 50%;
    position: absolute;
    height: 150px;
    width: 300px;
    background: #fff;
    text-align: center;
    margin-left: -100px;
    margin-top: -50px;
    border-radius: 4px;
    box-shadow: 0 0 1px;
    overflow: hidden;
}

div.popupContent {
    height: 60px;
    line-height: 60px;
}

.popupOk:hover{
    background: #b30c0c;
    color: #fff;
    border: 1px solid #b30c0c;
}
.popupCancel:hover{
    background: #4a4c4d;
    color: #fff;
    border: 1px solid #4a4c4d;
}
.popupOk, .popupCancel{
  border: 1px solid #ccc;
  background: #f5f5f5;
  padding: 5px 20px;  
  border-radius: 4px;
  margin: 0 20px;
  cursor: pointer;
}